*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}


nav{
	/*background-color: #D59B25;*/
	background-color: #E68C19;
	/*position: fixed;*/
	box-shadow: none;
}
nav ul a{
	color: #f4cd36;
}
/*#banner{
	height: 39em;
  top: 4.2em;
}
#banner img{
	width: 100%;
	height: 43.2em;
  margin-bottom: -5px;
}*/
img[src="imgs/logo.png"]{
	margin: 0.3% 1%;
}
/*#sobre-mi div h4{
	color: #17544C;
	text-align: center;
	margin: 2em 2em 0.2em 2em;
}*/
.container{
	width: 80% !important;
}
/*#sobre-mi div .divider{
	width: 15%;
  margin: auto;
  height: 3px;
  background-color: #427C74;
}*/
.parallax img{
	display: block;
}
#section article:first-child .heading{
	background-image: url(../imgs/banner.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	/*padding: 11.32em 9em;*/
	/*padding-left:11%;*/
	/*padding: auto;*/
	height: 38.9em;
	/*margin-bottom: 2em;*/
}
.heading div{
	width: 80%;
	border: 10px white double;
	border-right: none;
	border-left: none;
	padding: 3% 4% 4% 4%;
	margin: auto;
	word-wrap: break-word;
		/*top: center;*/
}
.heading div h1, h1 + h3 {
	font-family: 'Open Sans Condensed', sans-serif;
  /*letter-spacing: -0.32px;*/
  color: white;
  margin: 0;
  font-size: 3em;
  margin-bottom: 0.5em;
  /*text-align: center;*/
}
.heading div h1 + h3{
	color: #ff8f00;
}

h3:first-child[class="flow-text"]{
	color: #eedf6e;
	/*font-size: 100%;*/
  letter-spacing: 10px;
  word-spacing: 9px;
}
.divider:nth-child(2){
	width: 14%;
	margin: auto;
	margin-bottom: 7%;
	margin-top: -0.4%;
	background-color: #C18000;
}
img[alt="perfil"], img[alt="coder"]{
	/*width: 100%;*/
	height: 10em;
	/*margin-bottom: 2em;*/
}
#section article:nth-child(2){
	/*height: 43.3em;*/
	/*padding-bottom: 1em;*/
	padding-bottom: 3%;
}

.row + .divider{
	margin: 8% 0;
}

.parallax-container{
	height: 15em;
}
/*article:nth-child(4){
	height: 43.3em;
}*/

/*.habilidades:first-child div img:first-child, .habilidades:nth-child(2) div img:first-child{
	width: 8em;
}*/
/*.habilidades:nth-child(2) div img:first-child{
  width: 8em;
}*/
/*.habilidades:nth-child(3) div img:first-child, .framework:first-child div img:first-child, .framework:nth-child(2) div img:first-child{
	width: 10em;
}*/
/*.framework:first-child div img:first-child{
	width: 10em;
}*/
/*.framework:nth-child(2) div img:first-child{*/
  /*width: 10em;
  margin-top: 3em;
}*/
/*.hover{
	padding: 5% 0;
	margin: 2% 0;
}
.hover:hover{
	background-color: rgba(255, 186, 48, 0.6); 
}*/
footer{
	/*height: 10em;*/
	padding: 3%;
	/*background-color: #9C6800;*/
	background-color: #F38E0E;
}
img[alt="link"]{
	width: 5em;
	margin: 7% 7% 0 7%;
}
img[alt="link"]:hover{
	background-color: black;
	border-radius: 40px;
}

img[alt="cel"], [alt="github"], [alt="gmail"]{
	width: 6em;
	margin: 7% 7% 0 7%;
}

img[alt="cel"]:hover, [alt="github"]:hover, [alt="gmail"]:hover{
	background-color: black;
	border-radius: 100px;
}
/*img[alt="github"]{
	width: 6em;
	margin: auto;
}
img[alt="gmail"]{
	width: 6em;
}
img[alt="gmail"]{
	width: 6em;
	margin: auto;
}*/
h5:first-child{
	font-family: 'Titillium Web', sans-serif;
	color:#D9B716;

}
p[class="black-text"], p[class="black-text left-align"]{
	font-family: 'Rajdhani', sans-serif;
	font-weight: bold;
	font-size: 110%;
}
#boton-subir{
	display: none;
	background-color: #EC9D00;
	position: fixed;
	/*left:60%;*/
	right: 2%;
	bottom: 3%;
	cursor: pointer;
	/*padding: 2em;*/
	/*font-size: 150%;*/
}
#boton-subir i{
	font-size: 50px;
	color: #DBC321;
	/*padding: 0.2em;*/
}
button[type="button"]{
	padding: 0.4em;
	margin-left: 8%;
	background-color: transparent;
	border: 2px solid white;
	font-size: 130%;
	margin-top: 1em;
	/*font-weight: bold;*/
}
button[type="button"] a{
	color: #D49901;
}

button[type="button"]:hover a{
	color: white;
}
button[type="button"]:hover{
	border: 2px solid #E5BF26;
}

.uno {
	/*border: 2px solid red;*/
	width: 80%;
	/*margin-top: 3em;*/
	/*background-image: url("../imgs/0.jpg");*/
  background-position:center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 15em;
	border-radius: 10px;
	    margin-left: 11%;
}

.uno div {
	display: none;
	background-color: rgba(0,0,0, 0.5);
	height: 15em;
	text-align: center;
	padding-top: 4em;
}

.uno:hover div{
	display: block;
}

.hover{
	/*border: 2px solid red;*/
	width: 80%;
	margin-top: 3em;
	/*background-image: url("../imgs/0.jpg");*/
  background-position:center;
	background-repeat: no-repeat;
	background-size: contain;
	height: 10em;
}
.hover div{
	display: none;
	background-color: rgba(230, 195, 51, 0.8);
	height: 10em;
	text-align: center;
	padding-top:9%;
	padding-left: 25%;
	/*padding: auto;*/
	border-radius: 5px;
	/*margin-left: 25%;*/
}
.hover div h5{
	color: black;
	/*border: 8px double black;*/
	/*border-right: none;*/
	/*border-left: none;*/
	/*margin-top: 2em;*/
	width: 50%;
	font-size: 300%;
	/*margin-left: 25%;*/
	font-family: 'Rajdhani', sans-serif;
}
.hover:hover div{
	display: block;
}
.html{
	background-image: url(../imgs/html.png);
}
.css{
	background-image: url(../imgs/css.png);
}
.js{
	background-image: url(../imgs/js.png);
}.b{
	background-image: url(../imgs/b.png);
}.m{
	background-image: url(../imgs/m.png);
}
.framework{
	margin-bottom: 3em;
}

.portafolio{
	background-image: url(../imgs/portafolio.png);
}
.twitter{
	background-image: url(../imgs/twitter.png);
}
.tumblr{
	background-image: url(../imgs/tumblr.png);
}
.trello{
	background-image: url(../imgs/trello.png);
}
.uno a{
	padding: 0.2em;
	margin-top: 2%;
	display: inline-block;
	color: #EE981D;
	font-weight: bold;
	border: 5px double #EE981D;
	width: 30%;
}
.uno a:hover{
	background-color: rgba(238, 152, 29, 0.3); 
	color: white;
}
/*.ig{
	background-image: url(../imgs/frase-3.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}*/
h2 {
	font-size: 350% !important;
	color: #eedf6e;
	/*font-size: 100%;*/
  letter-spacing: 7px;  
  word-spacing: 20px;
  margin: 2em  0 1em 0;
}
h2 + a {
	color: rgba(0,0,0, 0.8);
	background-color: #eedf6e;
	display: inline-block;
	padding: 0.8em 4em;
	font-weight: bold;
	font-size: 140%;
	font-family: 'Rajdhani', sans-serif;
}
h2 + a:hover{
	background-color: #F3CD65;
}
img[alt="imganen-menu"]{
	margin: 20% 0 0 24%;
}
#slide-out li{
	margin-top: 5%;
}
#slide-out li:hover{
	background-color: rgba(208, 201, 45, 0.77);
}