*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
nav{
	background-color: #E68C19;
	box-shadow: none;
}
nav ul a{
	color: #f4cd36;
}
img[src="imgs/logo.png"]{
	margin: 0.3% 1%;
}
.container{
	width: 80% !important;
}
.parallax img{
	display: block;
}
#section article:first-child .heading{
	background-image: url(../imgs/banner.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 38.9em;
}
.heading div{
	width: 80%;
	border: 10px white double;
	border-right: none;
	border-left: none;
	padding: 3% 4% 4% 4%;
	margin: auto;
	word-wrap: break-word;
}
.heading div h1, h1 + h3 {
	font-family: 'Open Sans Condensed', sans-serif;
  color: white;
  margin: 0;
  font-size: 3em;
  margin-bottom: 0.5em;
}
.heading div h1 + h3{
	color: #ff8f00;
}

h3:first-child[class="flow-text"]{
	color: #eedf6e;
  letter-spacing: 10px;
  word-spacing: 9px;
}
.divider:nth-child(2){
	width: 14%;
	margin: auto;
	margin-bottom: 7%;
	margin-top: -0.4%;
	background-color: #C18000;
}
img[alt="perfil"], img[alt="coder"]{
	height: 10em;
}
#section article:nth-child(2){
	padding-bottom: 3%;
}

.row + .divider{
	margin: 8% 0;
}

.parallax-container{
	height: 15em;
}
footer{
	padding: 3%;
	background-color: #F38E0E;
}
img[alt="link"]{
	width: 5em;
	margin: 7% 7% 0 7%;
}
/*img[alt="link"]:hover{
	background-color: black;
	border-radius: 40px;
}*/
img[alt="cel"], [alt="github"], [alt="gmail"]{
	width: 6em;
	margin: 7% 7% 0 7%;
}

/*img[alt="cel"]:hover, [alt="github"]:hover, [alt="gmail"]:hover{
	background-color: black;
	border-radius: 100px;
}*/
h5:first-child{
	font-family: 'Titillium Web', sans-serif;
	color:#D9B716;

}
p[class="black-text"], p[class="black-text left-align"]{
	font-family: 'Rajdhani', sans-serif;
	font-weight: bold;
	font-size: 110%;
}
#boton-subir{
	display: none;
	background-color: #EC9D00;
	position: fixed;
	right: 2%;
	bottom: 3%;
	cursor: pointer;
}
#boton-subir i{
	font-size: 50px;
	color: #DBC321;
}
button[type="button"]{
	padding: 0.4em;
	margin-left: 8%;
	background-color: transparent;
	border: 2px solid white;
	font-size: 130%;
	margin-top: 1em;
}
button[type="button"] a{
	color: #D49901;
}

button[type="button"]:hover a{
	color: white;
}
button[type="button"]:hover{
	border: 2px solid #E5BF26;
}

.uno {
	width: 80%;
  background-position:center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 15em;
	border-radius: 10px;
  margin-left: 11%;
}

.uno div {
	display: none;
	background-color: rgba(0,0,0, 0.5);
	height: 15em;
	text-align: center;
	padding-top: 4em;
}

.uno:hover div{
	display: block;
}

.hover{
	width: 80%;
	margin-top: 3em;
  background-position:center;
	background-repeat: no-repeat;
	background-size: contain;
	height: 10em;
}
.hover div{
	display: none;
	background-color: rgba(230, 195, 51, 0.8);
	height: 10em;
	text-align: center;
	padding-top:9%;
	padding-left: 25%;
	border-radius: 5px;
}
.hover div h5{
	color: black;
	width: 50%;
	font-size: 300%;
	font-family: 'Rajdhani', sans-serif;
}
.hover:hover div{
	display: block;
}
.html{
	background-image: url(../imgs/html.png);
}
.css{
	background-image: url(../imgs/css.png);
}
.js{
	background-image: url(../imgs/js.png);
}.b{
	background-image: url(../imgs/b.png);
}.m{
	background-image: url(../imgs/m.png);
}
.framework{
	margin-bottom: 3em;
}

.portafolio{
	background-image: url(../imgs/portafolio.png);
}
.twitter{
	background-image: url(../imgs/twitter.png);
}
.tumblr{
	background-image: url(../imgs/tumblr.png);
}
.trello{
	background-image: url(../imgs/trello.png);
}
.uno a{
	padding: 0.2em;
	margin-top: 2%;
	display: inline-block;
	color: #EE981D;
	font-weight: bold;
	border: 5px double #EE981D;
	width: 30%;
}
.uno a:hover{
	background-color: rgba(238, 152, 29, 0.3); 
	color: white;
}
h2 {
	font-size: 350% !important;
	color: #eedf6e;
  letter-spacing: 7px;  
  word-spacing: 20px;
  margin: 2em  0 1em 0;
}
h2 + a {
	color: rgba(0,0,0, 0.8);
	background-color: #eedf6e;
	display: inline-block;
	padding: 0.8em 4em;
	font-weight: bold;
	font-size: 140%;
	font-family: 'Rajdhani', sans-serif;
}
h2 + a:hover{
	background-color: #F3CD65;
}
img[alt="imganen-menu"]{
	margin: 20% 0 0 24%;
}
#slide-out li{
	margin-top: 5%;
}
#slide-out li:hover{
	background-color: rgba(208, 201, 45, 0.77);
}
footer img[src$=".png"] + div {
	color: white;
	font-family: 'Rajdhani', sans-serif;
	font-size: 130%;
}